<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <title>Notes</title>
  </head>

  <body>
    <div class="container mt-5" id="app">
      <div class="row justify-content-center">
        <div class="col-lg-6 order-lg-2 mt-3">
          <div class="card main-form mb-4">
            <div class="card-body bg-light">
              <h3 class="text-center card-title" data-hover="Notes">Notes</h3>
              <hr />
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  v-model="addNote.note"
                  placeholder="Add a note..."
                />
              </div>
              <span class="text-danger">{{errorMsg}}</span>

              <div class="form-group">
                <input
                  type="color"
                  v-model="addNote.bgcolor"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <button
                  :class="['btn', 'main-btn', 'width-full', visibility == 'true' ? '' : 'disabled']"
                  @click="add_note()"
                >
                  Submit
                </button>
              </div>
            </div>
            <div class="search-container mt-3 mb-3">
              <input
                type="text"
                v-model="search"
                class="form-control"
                placeholder="Search"
              />
              <i class="search-icon ri-search-line"></i>
            </div>
            <div class="notes-container mt-3">
              <div
                :class="['empty','mt-3',' text-center', 
                tasks.length > 0  ? 'd-none' :'d-block']"
              >
                <span class="text-danger">No notes yet</span>
              </div>
              <div
                :class="['empty','mt-3','text-center', filteredNotes.length == 0 &&
                 tasks.length !== 0  ? 'd-block' :'d-none']"
              >
                <span class="text-danger">Sorry, No Results</span>
              </div>
              <div
                class="card mb-3 mt-2"
                v-for="(item,index) in filteredNotes"
                :key="index"
                :style="[item.completed ? {'background-color':'#fefefefe'} : {'background-color':item.bgcolor}]"
              >
                <div class="card-body p-2 mt-2">
                  <button class="close" @click.stop="deleteNote(item.id)">
                    &times;
                  </button>
                  <div class="operation-box d-flex align-items-center">
                    <i
                      :class="['ri-checkbox-fill', item.completed === true ? 'd-none' : 'd-block']"
                      @click="completedNote(item.id)"
                      type="checkbox"
                    ></i>
                    <i
                      :class="['ri-edit-box-line',item.completed === true ? 'd-none' : 'd-block']"
                      @click="editNote(item.id)"
                    ></i>
                  </div>

                  <p class="lead">{{item.note}}</p>
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <small class="card-subtitle text-muted"
                      >{{item.date}}</small
                    >
                    <span
                      :class="['checkCompleted-icon', item.completed === true ? 'd-block' : 'd-none']"
                      ><i class="ri-check-double-line"></i
                    ></span>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="footer d-flex align-items-center justify-content-end"
            >
              <button class="btn mr-2" @click="clearCompleted()">
                Clear Completed
              </button>
              <button
                :class="['btn','mr-2', tasks.length > 0 ? '' : 'disabled']"
                @click="deleteAll()"
              >
                Delete All
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/vue.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
